.centerTextInDiv {
	background-color: yellow;
	width: 350px;
	height: 200px;
	text-align: center; /* horizontal center */
	line-height: 200px;
}

.centerLinkInDiv {
	background-color: red;
	width: 350px;
	height: 200px;
	text-align: center;
	line-height: 200px
}